<section class="main slider-container">
  <div class="container">
    <ul id="slider" class="slider-wrapper">
      <li class="slide-current">
        <div>
        <%= image_tag 'slider/lomo.png' %>
        </div>
        <div class="food">
          <span>Pollo Saltado</span>
          <span class="price">S/. 9.00</span>
        </div>
      </li>
      <li>
        <div>
        <%= image_tag 'slider/hamburguesa.png' %>
        </div>
        <div class="food">
          <span>Hamburguesa Americana</span>
          <span class="price">S/. 8.00</span>
        </div>
      </li>
      <li>
        <div>
        <%= image_tag 'slider/pizza-margarita.png' %>
        </div>
        <div class="food">
          <span>Pizza Margarita</span>
          <span class="price">S/. 10.00</span>
        </div>
      </li>
    </ul>
    <ul id="slider-controls" class="slider-controls"></ul>
  </div>
</section>
<div class="container">
  <section class="border-yellow horizontal-section speciality">
    <h2>Nuestras especialidades</h2>
    <article class="three-columns">
      <a href="/carta#antojitos">
        <div class="overlay"></div>
        <%= image_tag 'especialidades/antojitos.jpg' %>
        <div class="description">Antojitos</div>
      </a>
    </article>
    <article class="three-columns">
      <a href="/carta#postres">
        <div class="overlay"></div>
        <%= image_tag 'especialidades/postres.jpg' %>
        <div class="description">Postres</div>
      </a>
    </article>
    <article class="three-columns">
      <a href="/carta#sanguches">
        <div class="overlay"></div>
        <%= image_tag 'especialidades/sanguches.jpg' %>
        <div class="description">Sanguches</div>
      </a>
    </article>
  </section>
  <section class="horizontal-section location">
    <h2>¿Dónde estamos?</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.231953201762!2d-77.0301731!3d-12.027546099999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cf4650409279%3A0x1a864c17e3309673!2sLas+Calesas%2C+Lima+15094!5e0!3m2!1ses!2spe!4v1440541807607" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
</div>