<% set_meta_tags description: 'Lorem ipsum bla bla bla Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.' %>

<section class="main">
  <div class="container">
    <h2>Nuestra Historia</h2>
  </div>
</section>
<section class="container">
  <div class="our-history border-yellow">
    <h3>Nuestra historia</h3>
    <p>Lorem ipsum bla bla bla Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam</p>
    <p>Lorem ipsum bla bla bla Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam</p>
    <%= image_tag 'historia.jpg' %>
  </div>
  <aside class="border-yellow galery">
    <h3>Galería</h3>
    <%= image_tag 'galeria/ga1.jpg' %>
    <%= image_tag 'galeria/ga2.jpg' %>
    <%= image_tag 'galeria/ga3.jpg' %>
    <%= image_tag 'galeria/ga4.jpg' %>
    <%= image_tag 'galeria/ga5.jpg' %>
  </aside>
</section>