<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
<%= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present? -%>
<%= raw %(<link rel="canonical" href="#{request.protocol}#{request.host_with_port}#{@canonical}" />) if @canonical.present? -%>
<%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
<%= yield :meta %>

<%= yield :stylesheets %>

<%= render '/refinery/google_analytics' %>

<%= javascript_include_tag 'modernizr-min' %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8" />
<title>Café Restaurante Doña Elsita</title>
<meta name="og:image" content="https://devacademyla.s3.amazonaws.com/public/elsita/og.png">
<meta name="description" content="Disfruta de nuestros deliciosos productos. Triples, sandwiches calientes, postres, jugos de frutas y todo lo que puedas imaginar para el deleite de tu paladar.">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
